body {
  background-color: beige;
}

h1 {
  text-align: center;
}

.filtersDiv {
  width: 400px;
  margin: auto;
}

.delete-button,
.edit-button {
  margin: 5px;
}

.table-div {
  margin: auto;
  width: 90vw;
}
